.contacto{
    color: #464646;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient( #91D8B4, #E6F7F5, #F7F9F8);

}

.contacto__titulo{


    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1rem;
}   

.contacto__datos{

    margin-top: 1rem;
    line-height: 30px;
    text-align: center;
    border: 1px solid #464646;
    margin-bottom: 1rem;
}

.contacto__boton{

    background: #E6F7F5;
    border-color: #91D8B4;
    font-family: 'Raleway', sans-serif;
    width: 15rem;
    height: 3rem;
    margin-left: 40%;
    margin-bottom: 0.5rem;
}

@media (max-width: 600px){

    .contacto__titulo{

        font-size: 22px;
    }

    .contacto__boton{

        margin-left: 7.5rem;
    }
}
