.contacto{
    color: #464646;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient( #91D8B4, #E6F7F5, #F7F9F8);

}

.contacto__titulo{


    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1rem;
}   

.contacto__datos{

    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 30px;
    text-align: center;
    border: 1px solid #464646;
}

.contacto__contactarme{

    border: 1px solid #464646;
    text-align: center;
    line-height: 30px;
    
    
}
.contacto__contactarme__parrafo{

    margin-bottom: 1rem;
    
} 

.contacto__contactarme label, .contacto__contactarme__enviar{

    display: block;
}

.contacto__contactarme__input, .contacto__contactarme__area{

    margin-bottom: 1rem;
    text-align: center;
  

}

.contacto__contactarme__enviar{

    margin-bottom: 1rem;
    position: relative;
    left: 45%;
    font-family: 'Raleway', sans-serif;
    color: #464646;
    background-color: #E6F7F5;
    font-size: 16px;
    cursor: pointer;

}

@media (max-width: 480px){

    .contacto__titulo{

        font-size: 22px;
    }

    .contacto__contactarme{

        line-height: 20px;
    }

    .contacto__contactarme__enviar{

        position: relative;
        left: 36%;
    }

    .contacto__contactarme__area{

        width: 420px
    }
}
