.estudios{

    color: #464646;
    background: linear-gradient( #1E7FA9, #5EA2C0, #5EB9C0); 
}
.estudios__principal{

    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1rem;
}

.estudios__titulo, .estudios__otros{

    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1rem;
    
}

.estudios__imagen{

    margin-left: 38%;
}

.estudios__parrafo{

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;

}

.estudios__lista{

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    list-style-type: disc;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.estudios__lista__elementos{

    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

@media (max-width: 600px){

    .estudios__imagen{

        margin-left: 10%;
    }
}