.header__portafolio{

    
    background:url(/Imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: 'Raleway', sans-serif;
    color: #464646;
}

.header__principal{

    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
   
}

.header__navegacion{

    display: flex;

}

.header__navegacion__lista{

    margin-right: 1rem;
}

.header__secundario{

    display: flex;
    justify-content: space-between;
    
}

.header__titulosencundario{

    font-size: 52px;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.header__texto{

    font-size: 22px;
    margin-bottom: 1.5rem;
    
}

.header__redes{

    display: flex;
    justify-content: center;  
    
}

.header__redes__lista{

    margin-right: 2rem;
}

.header__foto{

    width: 300px;
    height: 300px;
    border-radius: 500px;
}